.sp-comments {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  min-width: 500px;
  color: #4F4F4F;
  margin-bottom: 60px;
  font-family: futura-pt-light;
  padding-left: 200px;
}

.spc-header-row {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;;
  align-items: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #C4C4C4;
  min-width: 500px;
}

.spc-comments-header {
  font-size: 30px;
  color: #AAAAAA;
}

.spc-comment {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #C4C4C4;
  width: 100%;
}

.spcc-header-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.spcc-header-col {
  display: flex;
  flex-direction: column;
  min-width: 500px;
}

.spcc-buttons-row {
  display: flex;
  justify-content: space-between;
}

.spcc-button {
  font-size: 19px;
}

.spcc-name {
  font-weight: bolder;
  font-size: 21px;
}

.spcc-date {
  font-size: 19px;
  color: #AAAAAA;
}

.spcc-body {
  min-width: 500px;
  font-size: 21px;
}

.spcc-input {
  border: 1px solid #DCE0E0;
  -webkit-transition: border .3s;
  transition: border .3s;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 478px;
  height: 100px;
  margin-bottom: 13px;
}

.spcc-submit {
  font-size: 17px;
}

.spcc-input:focus {
  border: 1px solid #484848;
}

.spc-add-comment-button-live {
  display: flex;
  width: 185px;
  height: 42px;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #7A939C;
  color: white;
  border-radius: 4px;
  font-size: 17px;
}

.spc-add-comment-button-live::after {
  content: "Add a comment";
}

.spc-hide-button-live {
  display: flex;
  width: 185px;
  height: 42px;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #7A939C;
  color: white;
  border-radius: 4px;
  font-size: 17px;
}

.spc-hide-button-live::after {
  content: "Hide";
}

.spc-add-comment-button-live:hover {
  background-color: #9BBAC4;
}

.spc-hide-button-live:hover {
  background-color: #9BBAC4;
}

.spc-add-comment-button-dead{
  display: flex;
  width: 185px;
  height: 42px;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #7A939C;
  color: white;
  border-radius: 4px;
  font-size: 17px;
}

.spc-add-comment-button-dead::after {
  content: "Login to comment";
}

.spc-add-comment-button-dead:hover {
  background-color: #9BBAC4;
}

.spc-create-comment {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #C4C4C4;
}

.spc-create-comment-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.spc-create-comment-title {
  font-size: 22px;
  margin-bottom: 20px;
  color: #AAAAAA;
}

.spc-comment-body {
  display: flex;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 21px;
  border: 1px solid #DCE0E0;
  width: 458px;
  height: 200px;
  justify-content: space-between;
  align-items: center;
  border-radius: 3px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: 97% 50%;
  margin-bottom: 20px;
  -webkit-transition: border .3s;
  transition: border .3s;
  resize: none;
}

.spc-submit-comment {
  display: flex;
  width: 185px;
  height: 42px;
  justify-content: center;
  align-items: center;
  background-color: #7A939C;
  color: white;
  border-radius: 4px;
}

.spc-submit-comment:hover {
  background-color: #9BBAC4;
}
